/* roboto google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

*{
  margin: 0px;
  padding: 0;
  outline: 0;
}
body{
  font-family: 'Roboto Slab', serif;
}
/* --- header part--- */
.btn_header{
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  color: #ffff;
  font-size: 1rem;
  column-gap: 1rem;
}
.card_header{
  display: inline-flex;
  align-items: center;
  color: #ffff;
  font-size: 1.25rem;
  column-gap: 1rem;
}
.header_icon{
  font-size: 1.25rem;
}
/* For Add page */
.m-80{
  padding: 80px 0px;
}
.input_name{
  font-size: 1rem;
  color: #313A46;
}
.err,
.invalid_msg{
  color: red;
}
.invalid_msg{
  margin: 5px 0px 0px 5px;
  font-style: italic;
}
.button{
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
/* --- all information --- */
.heading_col{
  background: #000;
  color: #f9f9f9;
}

.table_font{
  font-size: 1rem;
  color: #313A46;
}
/* ====view table */
.view_custom_table tr td{
  font-weight: 600;
  font-size: 1rem;
  color: #313A46;
  text-transform: capitalize;
}
.view_custom_table tr td:first-child{
  width: 29%;
  text-align: right;
}
.view_custom_table tr td:last-child{
  width: 70%;
  text-align: left;
}

/* data table customization  */
div.dataTables_wrapper div.dataTables_length{
  margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_length select {
  border-radius: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background: rgb(6, 6, 160);
  color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  color: #fff !important;
 }
